/* frontend/src/App.css */
body {
  background-color: #f8f9fa;
}

h1 {
  color: #343a40;
}

.input-group {
  margin-bottom: 20px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  margin-left: 5px;
}
